<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />

  <title>
    GNUKhata
  </title>

  <style>
  .login-box{
    background-color: rgba(220, 225,225,0.4);
  }

  </style>

</head>
<body>


  <div class="container">
    <div id="loginbox" style="margin-top:60px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Sign In</div>
          <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
        </div>
        <div style="padding-top:30px" class="panel-body" >
          <form id="loginform" action="userlogin" class="form-horizontal">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="username"><u>U</u>sername :</label>
              <input id="username" type="text" class="form-control col-xs-12" name="username" value="" accesskey="u"></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="userpassword"><u>P</u>assword :</label>
              <input id="userpassword" type="password" class="form-control col-xs-12" name="userpassword" accesskey="p"></input>
            </div>

            <input id="orgcode" type="hidden" name="orgcode" value="{{code}}" class="form-control" ></input>
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="login" type="submit" class="btn btn-success " accesskey="l"><span class="glyphicon glyphicon-arrow-right"></span><u>L</u>ogin</button>
                <button id="back" class="btn btn-warning" accesskey="b"><span class="glyphicon glyphicon-arrow-left"></span><u>B</u>ack</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/login.js')}}"></script>
</body>

</html>
